# Insert the following snippet into your project .npmrc
@yosizesta:registry=https://me-west1-npm.pkg.dev/ai-factory-zaffic/zesta-npm/
//me-west1-npm.pkg.dev/ai-factory-zaffic/zesta-npm/:always-auth=true
